extends layout

block layout-content
 #menu.w3-row.w3-padding-64
  .w3-col.l6.w3-padding-large
    h1.w3-center Our Services
    br
    h4 Bread Basket
    p.w3-text-grey Assortment of fresh baked fruit breads and muffins 5.50
    br
    h4 Honey Almond Granola with Fruits
    p.w3-text-grey Natural cereal of honey toasted oats, raisins, almonds and dates 7.00
    br
    h4 Belgian Waffle
    p.w3-text-grey Vanilla flavored batter with malted flour 7.50
    br
    h4 Scrambled eggs
    p.w3-text-grey Scrambled eggs, roasted red pepper and garlic, with green onions 7.50
    br
    h4 Blueberry Pancakes
    p.w3-text-grey With syrup, butter and lots of berries 8.50
  .w3-col.l6.w3-padding-large
    img.w3-round.w3-image.w3-opacity-min(src='https://www.w3schools.com/w3images/tablesetting.jpg' alt='Menu' style='width:100%')
 hr